body, html {
  height: 100%;
  width: 100%;
  max-width: 1920px;
  color: white;
}

body {
  background: url('../images/BG1.svg');
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 500px;
}
nav a {
  color: white;
  padding: 1.2%;
  float: right;
  font-size: 24px;
}
nav a:hover {
  text-decoration: none;
  color: deepskyblue;
}
.container {
  background-color: rgba(255,255,255,0.2);
  padding-bottom: auto;
  top: 30%;
  left: 10%;
  position: absolute;

  font-size: 20px;
  font-family: sans-serif;
}
#popovertest {
  color: deepskyblue;
}

.Welcome {
  position: absolute;
  top: 50%;
  left: 25%;
}
.Welcome h2{
  padding-bottom: 5%;
}
.Welcome p{
  padding-left: 10%;
  font-size: 120%;
}
