
.darkBG {
  background-image:url("../images/Flowerbg5.png");
  height: 670px;
  max-height: 100%;
  width: 1900px;
  max-width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.darkBG img {
  width: 30%;
}

.option {
  margin-top: 10px;
}

.option h2,table {
  margin-top: 20px;
}

.menu {
  float: right;
  margin-top: 40px;
}
.menu a {
  background-color: rgba(100, 150, 150,0.5);
  color: white;
  padding: 15px 30px;
}
.menu a:hover {
  background-color: rgba(100, 150, 150);
  text-decoration: none;
}
.menu a:active {
  background-color: rgba(100, 200, 150);
}

.Sidebar {
  margin-left: 30px;
  height: auto;
  background-color: deepskyblue;
}

.Rightbar {
  background-color: grey;

}
